# Visual Studio
.vs/
*.suo
*.user
*.csproj.user
*.sln.docstates
*.vspscc
*.vssscc
*.bak
*.pdb
*.obj
*.exe
*.dll
*.log
*.trx

# Binarios y temporales
[Bb]in/
[Oo]bj/
[Pp]ublish/
TestResults/
*.rsp
*.csc

# Archivos de dependencias y paquetes
.nuget/
packages/
node_modules/

# Rider (si usas JetBrains Rider)
.idea/

# Archivos de configuración de secretos
appsettings.Development.json
appsettings.Local.json